1			!lsm			:1 to turn on and 0 to turn off
20.0		!betay		:Decay factor in Y-Dir.
10.0 		!betaz 		:Decay factor in Z-Dir.
10.0		!betax		:Decay factor in X-Dir.
0.04		!rady 		:Core region radius in Y-Dir.
0.125			!radz			:Core region radius in Z-Dir.
0.1			!radx			:Core region radius in X-Dir. 
1.0			!xi		:X-Location for centroid of volume force 
0.01		!yi	    :Y-Location for centroid of volume force
1.0			!zi		:Z-Location for centroid of volume force 
0.0			!a1					:base forcing value
15.0			!a2			:pulsating forcing value
4			!num_hairpins	:number of haiprpins
200			!it_base_rise	:time to rise from 0 to a1
200			!it_base_fall	:time to fall from a1 to 0
0			!it_base_no_hp	:time at a1 value before/after pulsinf starts/stops
150			!t2			:time for each pulse
100			!t3			:time between consecutive pulses
0			!t4			:time between consecutive LSM's
1300		!perturbtime 	:total perturabtion time for LSM 
5.0 		!cut_ff 	:cut_off value for Amatrix in the core	
